@import '../../styles/var.styl'

.blog-header
  position: fixed
  width: 100%
  height: $header-height
  background-color: $header-color
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5)

.blog-header-logo
  padding-top: 20px
  padding-bottom: 20px

.blog-header-link
  height: $header-height
  a
    display: block
    line-height: ($header-height / 2)
    padding: ($header-height / 4) 20px