@import '../../styles/var.styl'

.poster
  display: flex
  background-color: $card-color
  padding: 10px

  &.reversed-background
    background-color: $background-color

.poster-user
  width: 60px
  margin-right: 10px
  flex-shrink: 0
  text-align: center

  .name
    color: $theme-color
    cursor: pointer

.poster-content
  position: relative
  flex-grow: 1

.poster-input
  background-color: $card-color
  border: 1px solid $border-color
  border-radius: 3px
  padding: 5px
  outline: none
  word-wrap: break-word
  word-break: break-all

  &[contenteditable]:focus
    border-color: $theme-color

.poster-tools
  display: flex
  flex-direction row-reverse
  align-items: center
  margin-top: 5px