@import '../../styles/var.styl'

.input
  display: flex
  align-items: center
  overflow: hidden
  user-select: none
  border: 1px solid $border-color
  border-radius: 3px
  padding: 3px 5px

  &.focus
    border-color: $theme-color
  
  input
    border: none
    outline: none
    padding: 0
    flex-grow: 1
  
.input-item
  flex-shrink: 0
  margin: 0 3px
  cursor: pointer

  &:hover
    color: rgba(0, 0, 0, 0.45)

  &.hidden
    visibility: hidden
    