@import '../../styles/var.styl'

.blog
  padding-top: $header-height + 20px
  display: flex
  justify-content: space-between
  align-items: flex-start

.blog-aside
  width: 250px
  margin-left: 20px
  flex-shrink: 0