// 头部标题高度
$header-height = 60px
// 视窗区域宽度
$viewport-width = 1280px

// z-index层
$layer-content = 1
$layer-header = 2
$layer-popup = 3

/* 颜色 */
// 黄 - 橙 - 红
$gold = #eccc68
$orange = #ffa502
$coral = #ff7f50
$tomato = #ff6348
$watermelon = #ff6b81
$red = #ff4757

// 绿
$grass = #7bed9f
$leaf = #b3c131
$forest = #2ed573

// 蓝 - 深蓝
$blue-1 = #70a1ff
$blue-2 = #1e90ff
$blue-3 = #5352ed
$blue-4 = #3742fa

// 深灰 - 黑
$grey-1 = #a4b0be
$grey-2 = #747d8c
$grey-3 = #57606f
$dark = #2f3542

// 浅灰 - 白
$light-1 = #ced6e0
$light-2 = #dfe4ea
$light-3 = #f1f2f6
$white = #fff

// 系统颜色
$theme-color = $leaf
// 通常文字颜色
$word-color = $dark
// 文字反色
$word-reverse-color = $white
// 背景颜色
$background-color = $light-3
// 卡片颜色
$card-color = $white
$header-color = rgba(255, 255, 255, 0.1)