@import '../../styles/var.styl'

.post-card
  display: flex
  background-color: $card-color
  position: relative
  padding: 10px

  &.reversed-color
    background-color: $background-color
  
  &::after
    content: ''
    background-color: $border-color
    height: 1px
    left: 0
    right: 0
    transform: scaleY(0.5)
    bottom: 0
    position: absolute

.post-card-wrapper
  flex-grow: 1
  margin-left: 10px

.post-card-header
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 14px

  .user-name
    font-size: 16px
    color: $theme-color
    font-weight: 700
  
  .reply-link
    color: $theme-color
  
  .tips
    color: $word-tips-color
    margin-left: 10px
  

.post-card-content
  font-size: 14px

.post-card-reply-poster
  margin: 10px 0